<p id="notice"><%= notice %></p>

<h1>This is your post hor! Don't play play!</h1>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th><strong>Title hor: </strong></th>
      <th><strong>Content lor</strong></th>
        <th><strong>Timing zhun zhun:</strong></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
    <tr>


      <td><%= post.title %></td>
      <td><%= post.body %></td>
      <td><%= post.created_at.in_time_zone('Singapore').strftime("%A, %B %d, %Y [%I : %M : %S : %L %p]") %></td>
      <td><%= link_to 'Show', user_post_path(post.user,post) %></td>

      <td><%= link_to 'Edit', edit_user_post_path(post.user, post) %></td>
      <td><%= link_to 'Destroy', user_post_path(post.user, post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
