<!DOCTYPE html>
<html>
<head>
  <title>Bloglah!</title>
  <%= csrf_meta_tags %>
<link href="https://fonts.googleapis.com/css?family=Scope+One|Yeseva+One|Tillana" rel="stylesheet">  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link rel="icon" type="image/png" href="icon.png" />
  <style>

  body {
    font-family: 'Scope One', serif;
  }
  h1{
    font-family: 'Yeseva One', cursive;
  }
  #brand{
    font-size: 40px;
    /*font-family: 'Tillana', cursive;*/
      font-family: 'Yeseva One', cursive;
  }
  strong{
    font-weight: 500;
    font-size: 20px;
  }
 .article-body{
    font-weight: lighter;
    font-size: 20px;
  }
  </style>
</head>

<body>

  <nav id="custom-bootstrap-menu" class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="brand" href="/">
      BLOGLAH!
      </a></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <% if user_logged_in? %>

          <li class="page-scroll">
            <%= link_to 'New Post', new_user_post_path(current_user) %>
          </li>
          <li class="page-scroll">
            <%= link_to 'My Post', user_posts_path(current_user) %>
          </li>
          <li class="page-scroll">
            <%= link_to 'All User Post', home_path %>
          </li>
          <li class="page-scroll">
            <%= link_to "Sign Out", sign_out_path, method: :delete %>
          </li>

          <li class="page-scroll">
            <%= link_to  current_user.email ,edit_user_path(current_user) %> </li>

            <% else %>
            <% if !(current_page?(sign_in_path)) %>
            <li class="page-scroll">
              <%= link_to "Sign In", sign_in_path %> <li>
                <% end %>

                <% if !(current_page?(signup_path)) %>
                <li class="page-scroll">   <%= link_to "Sign Up", signup_path %> </li>
                <% end %>
                <% end %>

              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
        </nav>






        <!-- flash stores all the notice -->

        <!-- checking if user have logged in, if logged in, shows logout  -->

        <!-- content insertion on yield -->
        <div class="container" >
          <% flash.each do |name, message|%>
          <div class="alert alert-info flash-message flash-message-<%= name %>" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

            <%= message %>
          </div>
          <% end %>
          <div class ="well" style="background-color:rgba(255, 255, 255, 0.73)">

          <%= yield %>
        </div>
        </div>
      </body>
      </html>
